{% load bootstrap3 %}

<div class="pins-create-form">
    <h1>Save Pin</h1>

    <h2>Save from the web</h2>
    <form action="{% url 'users:pins_create' username %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form pin_from_web_form %}
        <input type="submit" class="form-control" value="Save">
    </form>

    <h2>Save from your device</h2>
    <form action="{% url 'users:pins_create' username %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form pin_from_device_form %}
        <input type="submit" class="form-control" value="Save">
    </form>
</div>