{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="followersPage">
        <div class="followersHeader">
            <h1>
                Followers •
                {% blocktrans count counter=board.followers|length %}
                    {{ counter }} Follower
                {% plural %}
                    {{ counter }} Followers
                {% endblocktrans %}
            </h1>
        </div>

        <div class="followersContent">
            {% for follower in board.followers %}
                <div class="followersWrapper">
                    <a href="{% url 'users:user' follower.user.username %}">
                        <div class="userProfileAvatar">
                            {% if follower.avatar %}
                                <img src="{{ follower.avatar.url }}" alt="" height="168" width="168">
                            {% else %}
                                <img src="{% static 'images/default-avatar.png' %}" alt="" height="168" width="168">
                            {% endif %}
                        </div>

                        <h3>{{ follower.user.get_full_name }}</h3>
                    </a>
                    {% if user != follower.user %}
                        <form action="{% url 'users:follow' follower.user.username %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Follow">
                        </form>

                        <form action="{% url 'users:unfollow' follower.user.username %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Unfollow">
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}