{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load template_tags %}

{% block content %}
    <div class="boards-followers-container">

        <div class="boards-followers-header">
            <div class="page-header">
                <h1>
                    Followers •
                    {% blocktrans count counter=board.followers|length %}
                        {{ counter }} Follower
                    {% plural %}
                        {{ counter }} Followers
                    {% endblocktrans %}
                </h1>   
            </div>
        </div>

        <div class="boards-followers-content">

            {% for follower in board.followers %}
                <div class="row">
                    <div class="boards-followers-wrapper">

                        <a href="{% url 'users:user' follower.user.username %}">
                            <div class="col-md-4">
                                <div class="user-profile-avatar">
                                {% if follower.avatar %}
                                    <img src="{{ follower.avatar.url }}" alt="" height="168" width="168">
                                {% else %}
                                    <img src="{% static 'images/default-avatar.png' %}" alt="" height="168" width="168">
                                {% endif %}
                                </div>   
                            </div>

                            <div class="col-md-5">
                                <h3>{{ follower.user.get_full_name }}</h3>    
                            </div>
                        </a>
                        
                        {% if user != follower.user %}
                            <div class="col-md-3">
                                <div class="pull-right">
                                    {% if not user.user_profile|is_following_board:follower %}
                                        {% include 'users/forms/follow.html' with username=follower.user.username %}    
                                    {% else %}
                                        {% include 'users/forms/unfollow.html' with username=follower.user.username %}
                                    {% endif %}      
                                </div>
                            </div>
                        {% endif %}
                          
                    </div>                    
                </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}