{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="boardContainer">
        <h1>{{ board.name }}</h1>

        {% blocktrans count counter=board_pins.count %}
            <p><b>{{ counter }}</b> Pin</p>
        {% plural %}
            <p><b>{{ counter }}</b> Pins</p>
        {% endblocktrans %}

        <p><b></b> Followers</p>
        <p>{{ board.description }}</p>

        <button>Save Pin</button>

        <div class="pins">
            {% for pin in board_pins %}
                <div class="pin">
                    <a class="pinLink" href="{% url 'pins:pin' pin.id %}">
                        <img src="/media/{{ pin.image_file }}" alt="">
                    </a> 
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}