{% load bootstrap3 %}

<!-- New Pin From Device Modal -->
<div class="modal fade" id="new-pin-from-device-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Upload a Pin</h4>
            </div>

            <form action="{% url 'users:pins_create' user.username %}" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" value="Save Pin">
                </div>
            </form>

        </div>
    </div>
</div>