{% load bootstrap3 %}

<!-- Pin Edit Modal -->
<div class="modal fade" id="{{ pin.id }}-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit this Pin</h4>
            </div>

            <form action="{% url 'pins:update' pin.id %}" method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label" for="id_board">Board</label>
                        <select name="board" class="form-control" title required id="id_board">
                            <option value>---------</option>
                        {% for board in pin.board.user_profile.boards.all %}
                            {% if board == pin.board %}
                                <option value="{{ board.id }}" selected>{{ board }}</option>
                            {% else %}
                                <option value="{{ board.id }}">{{ board }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="id_description">Description</label>
                        <input type="text" name="description" value="{{ pin.description }}" maxlength="255" class="form-control" placeholder="Description" title id="id_description">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" value="Save">
                </div>
            </form>

            <div class="modal-footer">
                <form action="{% url 'pins:destroy' pin.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="form-control btn-danger" value="Delete Pin" onclick="return confirm('Are you sure? Once you delete a Pin, you can\'t undo it!')">
                </form>
            </div>

        </div>
    </div>
</div>