{% load bootstrap3 %}

<!-- Pin Save Modal -->
<div class="modal fade" id="{{ pin.id }}-save" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <form action="{% url 'pins:save' pin.id %}" method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" value="Save Pin">
                </div>
            </form>

        </div>
    </div>
</div>