{% load static %}
{% load bootstrap3 %}
{% load template_tags %}

<!-- Pin Show Modal -->
<div class="modal fade" id="{{ pin.id }}-show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            {% if pin.board.user_profile.user == user %}
                <!-- Pin Edit Modal Trigger Button -->
                <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#{{ pin.id }}-edit" data-dismiss="modal">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            {% endif %}
            
                <!-- Pin Save Modal Trigger Button -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{ pin.id }}-save" data-dismiss="modal">
                    <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Save
                </button>

            </div>

            <div class="modal-body pin-modal-body">

                <div class="row">
                    <a href="{{ pin.image_url }}" target="_blank">
                        <img src="/media/{{ pin.image_file }}" alt="">
                    </a>  
                </div>
                
                <div class="row">
                    <div class="col-md-10">
                        <p>Saved from <a href="{{ pin.image_url }}">{{ pin.netloc }}</a></p>    
                    </div>
                    
                    <div class="col-md-2">
                        <a class="btn btn-default navbar-btn" href="{{ pin.image_url }}" target="_blank">Visit</a>     
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-2">
                        <a href="{% url 'users:user' pin.board.user_profile.user.username %}">
                            {% if pin.board.user_profile.avatar %}
                                <img src="{{ pin.board.user_profile.avatar.url }}" alt="" height="60" width="60">
                            {% else %}
                                <img src="{% static 'images/default-avatar.png' %}" alt="" height="60" width="60">
                            {% endif %}
                        </a>
                    </div>

                    <div class="col-md-10">
                        <p>
                            <a href="{% url 'users:user' pin.board.user_profile.user.username %}">{{ pin.board.user_profile.user.username }}</a> saved to
                            <a href="{% url 'users:boards:show' pin.board.user_profile.user.username pin.board.name %}"> {{ pin.board.name }}</a>
                        </p>
                        <p>{{ pin.description }}</p>                      
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- Pin Save Modal -->
<div class="modal fade" id="{{ pin.id }}-save" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <form action="{% url 'pins:save' pin.id %}" method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    {% bootstrap_form save_pin_form %}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" value="Save Pin">
                </div>
            </form>

        </div>
    </div>
</div>

{% if pin.board.user_profile.user == user %}
<!-- Pin Edit Modal -->
<div class="modal fade" id="{{ pin.id }}-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit this Pin</h4>
            </div>

            <form action="{% url 'pins:update' pin.id %}" method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label" for="id_board">Board</label>
                        <select name="board" class="form-control" title required id="id_board">
                            <option value>---------</option>
                        {% for board in pin.board.user_profile.boards.all %}
                            {% if board == pin.board %}
                                <option value="{{ board.id }}" selected>{{ board }}</option>
                            {% else %}
                                <option value="{{ board.id }}">{{ board }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="id_description">Description</label>
                        <input type="text" name="description" value="{{ pin.description }}" maxlength="255" class="form-control" placeholder="Description" title id="id_description">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" value="Save">
                </div>
            </form>

            <div class="modal-footer">
                <form action="{% url 'pins:destroy' pin.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="form-control btn-danger" value="Delete Pin" onclick="return confirm('Are you sure? Once you delete a Pin, you can\'t undo it!')">
                </form>
            </div>

        </div>
    </div>
</div>
{% endif %}