body { 
    padding-top: 70px;
    padding-bottom: 549px;
}

.navbar-brand {
    padding-top: 0;
}

@media (min-width: 768px) {
.my-custom-container{
    width: 600px;
}}

@media (min-width: 992px) {
.my-custom-container{
    width: 720px;
}}

@media (min-width: 1200px) {
.my-custom-container{
    width: 800px;
}}

.pin-wrapper {
    width: 236px;
}

.pin-wrapper > a img {
    display: block;
    width: 100%;
    height: auto;
}

.pin-content {
    width: 564px;
}

.pin-content > div a img {
    display: block;
    width: 100%;
    height: auto;
}

.pin-modal-body {
    width: 564px;
    margin: 0 auto;
}

.pin-modal-body > div a img {
    display: block;
    width: 100%;
    height: auto;
}

.grid {
    margin: 0 auto;
}

.grid-item {
    opacity: 0;
}

.is-showing-items .grid-item {
    opacity: 1;
}