body { 
    padding-top: 70px;
}

.navbar-brand {
    padding-top: 0;
}

/* Bootstrap custom containers */
@media (min-width: 768px) {
.my-custom-container{
    width: 600px;
}}

@media (min-width: 992px) {
.my-custom-container{
    width: 720px;
}}

@media (min-width: 1200px) {
.my-custom-container{
    width: 800px;
}}

/* Pin items */
.pin-wrapper {
    width: 236px;
}

.pin-wrapper > a img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    color: #898989;
    text-decoration: none;
}

a:hover, a:focus {
    color: black;
    text-decoration: none;
}

.pin-wrapper > a > .panel-footer > img {
    width: 24px;
    height: 24px;
    float: right;
}

/* Show Pin */
.pin-content {
    width: 564px;
}

.pin-content > div a img {
    display: block;
    width: 100%;
    height: auto;
}

.pin-modal-body {
    width: 564px;
    margin: 0 auto;
}

.pin-modal-body > div a img {
    display: block;
    width: 100%;
    height: auto;
}

/* Isotope.js */
.grid {
    margin: 0 auto;
}

.grid-item {
    opacity: 0;
}

.is-showing-items .grid-item {
    opacity: 1;
}

/* UserProfile */
.user-profile-avatar {
    border-radius: 50%;
}