{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="password-change-container">

    <div class="container my-custom-container">
        <h1>Password change</h1>
        <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
        
        <form action="{% url 'password_change' %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="form-control btn-danger" value="Change my password">
        </form>
    </div>

</div>
{% endblock %}