{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="password-reset-container">

    <div class="container my-custom-container">
        <h1>Find your Pinmersive account</h1>
        
        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

        <form action="{% url 'password_reset' %}" method="POST">
            {% csrf_token %}

            {% if form.email.errors %} 
                {{ form.email.errors }}
            {% endif %}

            {% bootstrap_form form %}
            <input type="submit" class="form-control btn-danger" value="Reset my password">
        </form>
    </div>

</div>
{% endblock %}