{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

    <div class="register-container">

        <h1 align="center">Welcome to Pinmersive</h1>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="form-control" value="Continue">
        </form>

        <p>Already a member?</p>
        <form action="{% url 'login' %}">
            <input type="submit" class="form-control" value="Log in">
        </form>
        
    </div>

{% endblock %}