{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="userProfilePage">

        <div class="userProfileHeader">
            {% if user != user_profile.user %}
                <form action="{% url 'users:follow' user_profile.user.username %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Follow">
                </form>

                <form action="{% url 'users:unfollow' user_profile.user.username %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Unfollow">
                </form>
            {% endif %}

            <h1>{{ user_profile.user.get_full_name }}</h1>
            {% if user.is_authenticated %}
                <div class="logoutButton">
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Log out">
                    </form>
                </div>
            {% endif %}

            <a href="{% url 'users:followers' user_profile.user.username %}">
                {% blocktrans count counter=user_profile.followers|length %}
                    <p><b>{{ counter }}</b> Follower</p>
                {% plural %}
                    <p><b>{{ counter }}</b> Followers</p>
                {% endblocktrans %}
            </a>
            <a href="{% url 'users:following' user_profile.user.username %}">
                <p><b>{{ user_profile.follows_users.count }}</b> Following</p>
            </a>

            <div class="userProfileAvatar">
                {% if user_profile.avatar %}
                    <img src="{{ user_profile.avatar.url }}" alt="" height="168" width="168">
                {% else %}
                    <img src="{% static 'images/default-avatar.png' %}" alt="" height="168" width="168">
                {% endif %}
            </div>

            <form action="{% url 'users:boards' user_profile.user.username %}">
                <input type="submit" value="Boards">
            </form>
            <form action="{% url 'users:pins' user_profile.user.username %}">
                <input type="submit" value="Pins">
            </form>  
        </div>

        <div class="userProfileContent">
            {% block userProfileContent %}
            {% endblock %}
        </div>
        
    </div>
{% endblock %}