{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load template_tags %}

{% block content %}

<div class="container my-custom-container">

        <div class="user-profile-header">
            <div class="row">
                {% if user != user_profile.user %}
                    <div class="col-md-2 pull-right">
                        {% if not user.user_profile|is_following_user_profile:user_profile %}
                            {% include 'users/forms/follow.html' with username=user_profile.user.username %}       
                        {% else %}
                            {% include 'users/forms/unfollow.html' with username=user_profile.user.username %}
                        {% endif %}      
                    </div>         
                {% else %}
                    <div class="col-md-12">
                        <a class="btn btn-default btn-lg" href="{% url 'settings' %}" style="border:none;"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                    </div>
                {% endif %}
            </div>

            <hr>

            <div class="row">
                <div class="col-md-4">
                    <h1>{{ user_profile.user.get_full_name }}</h1> 
                    <p><small>{{ user_profile.description }}</small></p>
                </div>

                <div class="col-md-5">
                    <div class="col-md-6">
                        <a href="{% url 'users:followers' user_profile.user.username %}">
                            {% blocktrans count counter=user_profile.followers|length %}
                                <p><b>{{ counter }}</b> Follower</p>
                            {% plural %}
                                <p><b>{{ counter }}</b> Followers</p>
                            {% endblocktrans %}
                        </a>    
                    </div>
                    
                    <div class="col-md-6">
                        <a href="{% url 'users:following' user_profile.user.username %}">
                            <p><b>{{ user_profile.follows_users.count }}</b> Following</p>
                        </a>                    
                    </div>                    
                </div>

                <div class="col-md-3">
                    {% if user_profile.avatar %}
                        <img class="user-profile-avatar" src="{{ user_profile.avatar.url }}" alt="" height="168" width="168">
                    {% else %}
                        <img class="user-profile-avatar" src="{% static 'images/default-avatar.png' %}" alt="" height="168" width="168">
                    {% endif %}                    
                </div>
            </div>

            <div class="row">
                <div class="col-md-1">
                    <a class="btn btn-default navbar-btn" href="{% url 'users:boards' user_profile.user.username %}">Boards</a>    
                </div>
                
                <div class="col-md-1">
                    <a class="btn btn-default navbar-btn" href="{% url 'users:pins' user_profile.user.username %}">Pins</a>    
                </div>
            </div>

        </div>

        <hr>
</div>

    <div class="user-profile-content">
        {% block user_profile_content %}
        {% endblock %}
    </div>


{% endblock %}