{% extends 'users/base.html' %}
{% load i18n %}

{% block content %}
    <div class="userProfileBoards">
        
        {% if user == user_profile.user %}
            <div class="boardCreate">
                <h1>Create board</h1>
                <form action="{% url 'users:boards_create' user_profile.user.username %}" method="POST">
                    {% csrf_token %}
                    {{ board_form.as_p }}
                    <input type="submit" value="Create">
                </form>
            </div>
        {% endif %}

        {% for board in user_profile.boards.all %}
            <div class="board">
                <a href="{% url 'users:boards:show' user_profile.user.username board.name %}">
                    {% for pin in board.pins.all %}
                        <div class="pin">
                            <img src="/media/{{ pin.image_file }}" alt="">
                        </div>
                    {% endfor %}
                    
                    <h2>{{ board.name }}</h2>

                    {% blocktrans count counter=board.pins.count %}
                        <p><b>{{ counter }}</b> Pin</p>
                    {% plural %}
                        <p><b>{{ counter }}</b> Pins</p>
                    {% endblocktrans %}
                </a>
                
                {% if user != user_profile.user %}
                    <form action="">
                        <input type="submit" value="Follow">
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}