{% extends 'users/base.html' %}
{% load i18n %}
{% load static %}

{% block children_js %}
    <script src="{% static 'js/users/boards.js' %}"></script>
{% endblock %}

{% block children_css %}
    <link rel="stylesheet" href="{% static 'css/users/boards.css' %}">
{% endblock %}

{% block user_profile_content %}
    <div class="container my-custom-container">
        <div class="row text-center">
            {% blocktrans count counter=public_boards|length %}
                <p><b>{{ counter }}</b> Board</p>
            {% plural %}
                <p><b>{{ counter }}</b> Boards</p>
            {% endblocktrans %}
            <hr> 
        </div>

        {% if user == user_profile.user %}
            <div class="container my-custom-container">
                <div class="row">

                    <!-- Board Create Modal Trigger Button -->
                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#board-create-modal">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create a Board
                    </button>

                    {% include 'boards/modal_forms/create.html' with form=board_form %}

                    <hr>
                       
                </div>
            </div>
        {% endif %} 
    </div>
            
    <div class="container-fluid">
        <div class="row">
            <div class="public-boards-container">

                {% include 'boards/partials/boards.html' with boards=public_boards %}

            </div>            
        </div>

        {% if user == user_profile.user %}
            <div class="row">
                <div class="secret-boards-container">
                    
                    <div class="secret-boards-header">
                        <h1><span class="label label-default"><span class="glyphicon glyphicon-lock"></span> Secret Boards</span></h1>

                        <p>Only you (and people you invite) can see these boards.</p>    
                    </div>
                    
                    {% include 'boards/partials/boards.html' with boards=secret_boards %}
                    
                </div>            
            </div>
        {% endif %}
    </div>
{% endblock %}