{% extends 'users/base.html' %}
{% load i18n %}

{% block userProfileContent %}
    <div class="userProfileBoardsWrapper">
        
        {% if user == user_profile.user %}
            <div class="boardCreate">
                <h1>Create board</h1>
                <form action="{% url 'users:boards_create' user_profile.user.username %}" method="POST">
                    {% csrf_token %}
                    {{ board_form.as_p }}
                    <input type="submit" value="Create">
                </form>
            </div>
        {% endif %}

        <div class="publicBoards">
            {% for board in public_boards %}
                <div class="board">
                    <a href="{% url 'users:boards:show' user_profile.user.username board.name %}">
                        {% for pin in board.pins.all %}
                            <div class="pin">
                                <img src="/media/{{ pin.image_file }}" alt="">
                            </div>
                        {% endfor %}
                        
                        <h2>{{ board.name }}</h2>

                        {% blocktrans count counter=board.pins.count %}
                            <p><b>{{ counter }}</b> Pin</p>
                        {% plural %}
                            <p><b>{{ counter }}</b> Pins</p>
                        {% endblocktrans %}
                    </a>
                    
                    {% if user != user_profile.user %}
                        <form action="{% url 'users:boards:follow' board.user_profile.user.username board.name %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Follow">
                        </form>

                        <form action="{% url 'users:boards:unfollow' board.user_profile.user.username board.name %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Unfollow">
                        </form>
                    {% endif %}
                </div>
            {% endfor %} 
        </div>

        {% if user == user_profile.user %}
            <div class="secretsBoards">
                <h2>Secret boards</h2>
                <p>Only you (and people you invite) can see these boards. Learn more</p>

                {% for board in secret_boards %}
                    <div class="board">
                        <a href="{% url 'users:boards:show' user_profile.user.username board.name %}">
                            {% for pin in board.pins.all %}
                                <div class="pin">
                                    <img src="/media/{{ pin.image_file }}" alt="">
                                </div>
                            {% endfor %}
                            
                            <h2>{{ board.name }}</h2>

                            {% blocktrans count counter=board.pins.count %}
                                <p><b>{{ counter }}</b> Pin</p>
                            {% plural %}
                                <p><b>{{ counter }}</b> Pins</p>
                            {% endblocktrans %}
                        </a>
                    </div>
                {% endfor %}       
            </div>
        {% endif %}
        
    </div>
{% endblock %}