{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load template_tags %}

{% block content %}
<div class="users-followers-container">

    <div class="container my-custom-container">
        <div class="users-followers-header">
            <div class="row">
                <div class="col-md-9">
                    {% blocktrans count counter=user_profile.followers|length %}
                        <h1>{{ counter }}</h1>
                        <p>Follower</p>
                    {% plural %}
                        <h1><b>{{ counter }}</b></h1>
                        <p>Followers</p>
                    {% endblocktrans %}    
                </div>

                <div class="col-md-3">
                    <div class="user-profile-avatar">
                        <a href="{% url 'users:user' user_profile.user.username %}">
                        {% if user_profile.avatar %}
                            <img src="{{ user_profile.avatar.url }}" alt="" height="168" width="168">
                        {% else %}
                            <img src="{% static 'images/default-avatar.png' %}" alt="" height="168" width="168">
                        {% endif %}
                        </a>
                    </div>    
                </div>
            </div>
        </div>

        <hr>

        <div class="users-followers-content grid">

            {% for follower in user_profile.followers %}
                <div class="users-follower-wrapper text-center grid-item">

                    <a href="{% url 'users:user' follower.user.username %}">
                        <div class="user-profile-avatar">
                        {% if follower.avatar %}
                            <img src="{{ follower.avatar.url }}" alt="" height="168" width="168">
                        {% else %}
                            <img src="{% static 'images/default-avatar.png' %}" alt="" height="168" width="168">
                        {% endif %}
                        </div>

                        <h3>{{ follower.user.get_full_name }}</h3>
                    </a>

                {% if user != follower.user %}
                    {% if not user.user_profile|is_following_user_profile:follower %}
                        {% include 'users/forms/follow.html' with username=follower.user.username %}
                    {% else %}
                        {% include 'users/forms/unfollow.html' with username=follower.user.username %}
                    {% endif %}
                {% endif %}

                </div>
            {% endfor %}

        </div>
    </div>

</div>
{% endblock %}