{% extends 'users/base.html' %}
{% load i18n %}

{% block user_profile_content %}
    <div class="user-profile-pins-container">
        
        <div class="row text-center">
            {% blocktrans count counter=pins|length %}
                <p><b>{{ counter }}</b> Pin</p>
            {% plural %}
                <p><b>{{ counter }}</b> Pins</p>
            {% endblocktrans %}
            <hr> 
        </div>

        {% if user == user_profile.user %}
            {% include 'pins/forms/create.html' with username=user_profile.user.username %}

            <hr>
        {% endif %}

        {% for pin in pins %}
            <div class="pin-wrapper">
                <a class="pinLink" href="{% url 'pins:show' pin.id %}">
                    <img src="/media/{{ pin.image_file }}" alt="">
                </a> 
            </div>
        {% endfor %}
        
    </div>
{% endblock %}