{% extends 'users/base.html' %}
{% load i18n %}

{% block user_profile_content %}

<div class="container my-custom-container">
    <div class="row text-center">
        {% blocktrans count counter=pins|length %}
            <p><b>{{ counter }}</b> Pin</p>
        {% plural %}
            <p><b>{{ counter }}</b> Pins</p>
        {% endblocktrans %}
        <hr> 
    </div>

    {% if user == user_profile.user %}
        <div class="row">
            <h3>Save Pin</h3>
            {% include 'pins/modal_forms/create_from_web.html' with form=pin_from_web_form %}
            {% include 'pins/modal_forms/create_from_device.html' with form=pin_from_device_form %}   

            <hr> 
        </div>
    {% endif %}
</div>

<div class="container-fluid">
    <div class="row">
        <div class="pins-container grid">
            {% for pin in pins %}
                <div class="pin-wrapper grid-item">
                    <a class="pinLink" href="{% url 'pins:show' pin.id %}">
                        <img src="/media/{{ pin.image_file }}" alt="">
                    </a> 
                </div>
            {% endfor %}    
        </div>
    </div>
</div>

{% endblock %}