{% extends 'users/base.html' %}
{% load i18n %}

{% block user_profile_content %}

<div class="container my-custom-container">
    <div class="row text-center">
        {% blocktrans count counter=pins|length %}
            <p><b>{{ counter }}</b> Pin</p>
        {% plural %}
            <p><b>{{ counter }}</b> Pins</p>
        {% endblocktrans %}
        <hr> 
    </div>

    {% if user == user_profile.user %}
        <div class="row">
            <h3>Save Pin</h3>
            
            <!-- New Pin From Web Modal Trigger Button -->
            <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#new-pin-from-web-modal">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> From The Web
            </button>
            {% include 'pins/modal_forms/create_from_web.html' with form=pin_from_web_form %}

            <!-- New Pin From Device Modal Trigger Button -->
            <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#new-pin-from-device-modal">
                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> From Your Device
            </button>
            {% include 'pins/modal_forms/create_from_device.html' with form=pin_from_device_form %}   

            <hr> 
        </div>
    {% endif %}
</div>

<div class="container-fluid">
    <div class="row">
        <div class="pins-container grid">
            {% for pin in pins %}
                <div class="pin-wrapper grid-item">
                    <a href="{% url 'pins:show' pin.id %}">
                        <img src="/media/{{ pin.image_file }}" alt="">
                    </a>
                </div>
            {% endfor %}    
        </div>
    </div>
</div>

{% endblock %}