{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="pin-container">

        <div class="pin-header">
            <div class="row">
                {% if pin.board.user_profile.user == user %}
                    {% include 'pins/modal_forms/edit.html' with form=edit_pin_form %}
                {% endif %}   

                {% include 'pins/modal_forms/save.html' with form=save_pin_form %}  

                <hr>
            </div>
        </div>

        <div class="pin-content">
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ pin.image_url }}" target="_blank">
                        <img src="/media/{{ pin.image_file }}" alt="">
                    </a>     
                </div>          
            </div>
            
            <div class="row">
                <div class="col-md-11">
                    <p>Saved from <a href="{{ pin.image_url }}">{{ netloc }}</a></p>    
                </div>
                
                <div class="col-md-1">
                    <a class="btn btn-default navbar-btn" href="{{ pin.image_url }}" target="_blank">Visit</a>     
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-1">
                    <a href="{% url 'users:user' pin.board.user_profile.user.username %}">
                        {% if pin.board.user_profile.avatar %}
                            <img src="{{ pin.board.user_profile.avatar.url }}" alt="" height="60" width="60">
                        {% else %}
                            <img src="{% static 'images/default-avatar.png' %}" alt="" height="60" width="60">
                        {% endif %}
                    </a>
                </div>

                <div class="col-md-11">
                    <p>
                        <a href="{% url 'users:user' pin.board.user_profile.user.username %}">{{ pin.board.user_profile.user.username }}</a> saved to
                        <a href="{% url 'users:boards:show' pin.board.user_profile.user.username pin.board.name %}"> {{ pin.board.name }}</a>
                    </p>
                    <p>{{ pin.description }}</p>                      
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}