{% extends 'base.html' %}

{% block content %}
    <div class="pinWrapper">

        {% if pin.board.user_profile.user == user %}
            <div class="pinEdit">
                <form action="{% url 'pins:edit' pin.id %}" method="GET">
                    {% csrf_token %}
                    <input type="submit" value="Edit">
                </form>
            </div>
        {% endif %}

        <div class="pinSave">
            <form action="{% url 'pins:save' pin.id %}" method="POST">
                {% csrf_token %}
                {{ save_pin_form.as_p }}
                <input type="submit" value="Save">
            </form>
        </div>

        <div class="pinContent">
            <a href="{{ pin.image_url }}" target="_blank">
                <img src="/media/{{ pin.image_file }}" alt="">
            </a>
            <p>Saved from <a href="{{ pin.image_url }}">{{ netloc }}</a></p> 
            <form action="{{ pin.image_url }}" target="_blank">
                <input type="submit" value="Visit">
            </form>
            <p>
                <a href="{% url 'users:user' pin.board.user_profile.user.username %}">{{ pin.board.user_profile.user.username }}</a> saved to
                <a href="{% url 'users:boards:show' pin.board.user_profile.user.username pin.board.name %}"> {{ pin.board.name }}</a>
            </p> 
            <p>{{ pin.description }}</p>  
        </div>
        
    </div>
{% endblock %}