{% extends 'base.html' %}

{% block content %}
    <div class="pinWrapper">
        <a href="{{ pin.image_url }}" target="_blank">
            <img src="/media/{{ pin.image_file }}" alt="">
        </a>
        <p>Saved from <a href="{{ pin.image_url }}">{{ netloc }}</a></p> 
        <form action="{{ pin.image_url }}" target="_blank">
            <input type="submit" value="Visit">
        </form>
        <p>
            <a href="{% url 'users:user' pin.board.user_profile.user.username %}">{{ pin.board.user_profile.user.username }}</a> saved to
            <a href="{% url 'users:board' pin.board.user_profile.user.username pin.board.name %}"> {{ pin.board.name }}</a>
        </p> 
        <p>{{ pin.description }}</p>  
    </div>
{% endblock %}