{% extends 'base.html' %}

{% block content %}
<div class="category-container">

    <div class="container my-custom-container">
        <div class="page-header">
            <h1>{{ category.name }}</h1>    
        </div>
    </div>

    <div class="container-fluid">
        <div class="pins-container grid">
            {% for pin in pins %}
                <div class="pin-wrapper grid-item">
                    <a href="{% url 'pins:show' pin.id %}">
                        <img src="/media/{{ pin.image_file }}" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    
</div>
{% endblock %}